<!DOCTYPE html>
<html>
  <head>
    <title>Railsblog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link href='https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap' 
rel='stylesheet' type='text/css'>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
    <footer class="footer">
    <div class="footer-div">//</div>
    </footer>
  </body>
</html>
